<body>
<center><h1>This is the contact page.</h1><center>
<h2>Voici les contacts :</h2><br>
<p>Nom : Palayret</p>
<p>Prénom : Sacha</p>
<p>Téléphone : 06 44 00 44 00</p>
<p>Mail : something@something.com</p>
<br>
<br>
<br>
<p>Nom : <%= a = ("Palayret").reverse.upcase %> <%= puts a%></p>
<p>Prénom : <%= b = ("Sacha").reverse %> <%= puts b%></p>
<p>Téléphone : <%= c = ("06 44 00 44 00").reverse %> <%= puts c%></p>
<p>Mail : something@something.com</p>


</body>